DEBUG=True
SECRET_KEY=your-super-secret-key-change-this-in-prod

ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL Configuration
DB_NAME=toc_db
DB_USER=postgres
DB_PASSWORD=xxxxxxxxx
DB_HOST=localhost
DB_PORT=5432